/*
    colors: 

    light green : #7ed56f
    medium green : #55c57a
    dark green " #28b485
*/

/* normalize */
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        #7ed56fc7, 
        #28b485c0), 
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.logo-box {
    position: absolute;
    top: 30px;
    left: 30px ;
}

.logo {
    height: 35px;
}
.logo:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1)
}

.box-header-middle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50% );
    
}

.heading-primary {
    color: #ffffff;
    text-transform: uppercase;
}

.heading-title-main {
    display: block;
    font-size: 60px;
    font-weight: 400px;
    letter-spacing: 35px;
    animation-name: moveToBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-title-sub {
    display: block;
    font-weight: 300;
    font-size: 20;
    letter-spacing: 11px;
    animation-name: moveToTop;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes moveToBottom {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveToTop {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
